h1{
  font-family: 'Lobster', cursive;
}

p{
 font-family: 'Quattrocento Sans', sans-serif;

}

header{
  color: Lavender;
  font-family: 'Pacifico', cursive;
  text-decoration: underline; 
}

section{
    color: Lavender;
    background-color: RoyalBlue;
}

article{
  color: Lavender;
  background-color: SteelBlue;
}
