h1{
  font-family: 'Lobster', cursive;
}

p{
 font-family: 'Quattrocento Sans', sans-serif;

}

header{
  font-family: 'Pacifico', cursive;
}

section{
    background-color: RoyalBlue;
}
